<div class="row">

  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
    <div class="client-img">
      <a href="http://www.velke-hamry.cz/">
        <img src="/images/sponsors/sp_mesto_velke_hamry2.png" alt="MESTO VELKE HAMRY"
          class="img-responsive" />
      </a>
    </div>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
    <div class="client-img">
      <a href="http://www.kraj-lbc.cz/">
        <img src="/images/sponsors/sp_liberecky_kraj.png" alt="LIBERECKY_KRAJ"
          class="img-responsive" />
      </a>
    </div>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
    <div class="client-img">
      <a href="http://www.msmt.cz/">
        <img src="/images/sponsors/sp_msmt.png" alt="MSMT" class="img-responsive" />
      </a>
    </div>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
    <div class="client-img">
      <a href="http://www.hygiservis.cz/">
        <img src="/images/sponsors/sp_servis.png" alt="HYGIENICKY SERVIS" class="img-responsive" />
      </a>
    </div>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
    <div class="client-img">
      <a href="http://www.plavy.cz/">
        <img src="/images/sponsors/sp_obec_plavy.png" alt="OBEC PLAVY" class="img-responsive" />
      </a>
    </div>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
    <div class="client-img">
      <a href="http://www.alfexcechy.cz/">
        <img src="/images/sponsors/sp_alfex.png" alt="ALFEX" class="img-responsive" />
      </a>
    </div>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
    <div class="client-img">
      <a href="http://www.putzteufelcz.cz/">
        <img src="/images/sponsors/sp_putzteufel.png" alt="PUTZTEUFEL" class="img-responsive" />
      </a>
    </div>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
    <div class="client-img">
      <a href="http://www.ifortuna.cz/">
        <img src="/images/sponsors/sp_fortuna.png" alt="FORTUNA" class="img-responsive" />
      </a>
    </div>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
    <div class="client-img">
      <a href="http://www.jablonecky.denik.cz/">
        <img src="/images/sponsors/sp_jablonecky_denik.png" alt="JABLONECKY DENIK"
          class="img-responsive" />
      </a>
    </div>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
    <div class="client-img">
      <a href="http://www.nasejablonecko.cz/">
        <img src="/images/sponsors/sp_nase_jablonecko.png" alt="NASE JABLONECKO"
          class="img-responsive" />
      </a>
    </div>
  </div>

</div>
